.fieldset {
  position: relative;
  border-color: #4ca8a9;
  border-radius: 12px;
  height: 55px;
  margin: 0;
}
.legend {
  margin: 0 30px;
  background: transparent;
}

.input {
  position: absolute;
  background: transparent;
  border-radius: 12px;
  top: -10px;
  width: 100%;
  height: 35px;
  padding: 22px 10px;
  border: none;
  outline: none;
}
