.modal {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background: rgba(3, 22, 22, 0.76);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  padding: 0 10px;
}

.form {
  position: relative;
  width: 531px;
  min-height: 482px;
  background: rgb(255, 244, 214);
  background: linear-gradient(
    90deg,
    rgba(255, 244, 214, 1) 8%,
    rgba(255, 244, 214, 1) 22%,
    rgba(247, 241, 204, 1) 90%,
    rgba(254, 255, 223, 1) 98%
  );
  padding: 20px;
  border-radius: 30px;
}

.iconClose {
  position: absolute;
  right: 25px;
  cursor: pointer;
}

.title {
  font-size: calc(30px + (40 - 27) * ((100vw - 320px) / (1600 - 320)));
  font-weight: 600;
  text-align: center;
  margin-top: 36px;
}

.form {
  a {
    color: #0a65e7;
    text-decoration: underline;
  }
}

.starsLeft {
  position: absolute;
}

.starsRight {
  position: absolute;
  top: 30%;
  right: 2%;
}

.inputContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: 55%;
  max-width: 300px;
  margin: 0 auto;
}

.checkBox {
  display: flex;
  font-size: 12px;
  label {
    margin: 0 10px;
  }
  input {
    transform: scale(1.5);
  }
}

.message {
  font-size: 14px;
}

.error {
  color: darkred;
}

.success {
  color: greenyellow;
}
