@font-face {
  font-family: 'gilroy-medium';
  src: url('./Shared/fonts/Gilroy-Medium.ttf') format('ttf');
  src: url('./Shared/fonts/Gilroy-Medium.woff') format('woff');
  src: url('./Shared/fonts/Gilroy-Medium.woff2') format('woff2');
  font-display: swap;
}


body {
  margin: 0;
  padding: 0;
  background: #fff;
  /*// font-family: gilroy-regular, sans-serif;*/
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  box-sizing: border-box;
}

.noScroll {
  overflow: hidden;
}

#root {
  font-family: 'gilroy-medium', sans-serif;
}